<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head  th:include="fragments/otsake :: head">
    <meta charset="UTF-8"/>
    <title>Haku</title>
</head>
<body>
<div th:replace="fragments/navi :: navbar"/>

<!--Tähän omat koodit-->

<div class="container">
    <h1>Hae foorumista:</h1>
    <h1> </h1>
    <div>
        <form th:action="@{/foorumi/hakutulos}" th:object="${hakusana}" th:method="POST">
            <input type="text" th:field="*{sana}"/>
            <input type="submit" name="Hae">
        </form>
    </div>

</div>

</body>
</html>