<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head  th:include="fragments/otsake :: head">
    <meta charset="UTF-8"/>
    <title>Hakutulokset</title>
</head>
<body>
<div th:replace="fragments/navi :: navbar"/>

<!--Tähän omat koodit-->

<div class="container">
    <h1>Hakutulokset:</h1>
    <h1> </h1>
<ul style="list-style-type: none">
    <li th:each="viesti : ${viestilista}">
        <!--<p th:text="${keskustelu.kommentit}"></p>-->
        <p class="p-inline p-padding" th:text="'Kirjoittaja: ' + ${viesti.kirjoittaja}"></p>
        <p class="p-inline p-padding" th:text="${#temporals.format(viesti.aikaleima, 'dd.MM.yyyy / HH:mm ')}"></p>
        <p class="p-inline p-padding" th:text="${viesti.teksti}"></p>
        <a th:href="'/foorumi/' + ${viesti.viestinAihe} + '/' + ${viesti.keskustelunId}"> Siirry viestiketjuun</a>
        <br>
    </li>
</ul>
</div>

</body>
</html>