<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/otsake :: head">
<!--<html lang="fi" xmlns:th="http://www.thymeleaf.org">-->
<html lang="fi" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:include="fragments/otsake :: head">
    <meta charset="UTF-8"/>
    <title>Keskustelut</title>
</head>
<body>
<div th:replace="fragments/navi :: navbar"/>

<!--Tähän omat koodit-->

<div class="container">
    <h1 th:text="${aiheenNimi}"/>

</div>


<div class="container">
    <div>
        <div th:each="keskustelu: ${keskustelulista}">
            <h3> <a th:href="'/foorumi/' + ${aiheenNimi} + '/' + ${keskustelu.id}" th:text="${keskustelu.keskustelunotsikko}"/></h3>
            <!--<h3> <a th:href="@{/foorumi/} + ${aiheenNimi} + '/' + ${keskustelu.id}">ID</a></h3>-->
        </div>

    </div>

    <div>
        <a th:href="'' + ${aiheenNimi} + '/uusikeskustelu'"> Kirjoita uusi keskustelu</a>
    </div>
 <!--   <div>
        <div th:each="keskustelu: ${keskustelulista}">
            <h3> <a th:href="'/foorumi/' + ${aiheenNimi} + '/' + ${keskustelu.id}" th:text="${keskustelu.keskustelunotsikko}"/></h3>
        </div>

    </div>-->

</div>
<!--Tähän omat koodit-->

</body>
</html>