<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head  th:include="fragments/otsake :: head">
    <meta charset="UTF-8"/>
    <title>Sanonnat</title>
</head>
<body>
<div th:replace="fragments/navi :: navbar"/>

<!--Tähän omat koodit-->

<div class="container">
    <h1>Ryhmä 3 foorumi</h1>
    <div>
        <p>Keskusteluaiheen keskutelu aiheinen sivu</p>
    </div>
</div>

<div class="container">
    <div>
        <p>Erittäin <strong>mielenkiintoista</strong> jutustelua <em>edelleenkin</em></p>
    </div>
</div>

<!--Tähän omat koodit-->

</body>
</html>