<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head  th:include="fragments/otsake :: head">
    <meta charset="UTF-8"/>
    <title>Ryhmä 3</title>
</head>
<body>
<div th:replace="fragments/navi :: navbar"/>

<!--Ei käytössä toistaiseksi, konsultoi Jania ja Leenaa-->

<div class="container">
    <!--<h1 th:text="${otsikko}"></h1>  lisää dynaaminen otsikko -->
    <div class="kommentti-divi" th:each="viestit: ${listaaviestit}">
        <p class="p-inline p-padding" th:text="${viestit.kirjoittaja}"></p>
        <p class="p-inline p-padding" th:text="${#temporals.format(viestit.aikaleima, 'dd.MM.yyyy / HH:mm')}"></p>
        <p class="p-padding" th:text="${viestit.teksti}"></p>
    </div>

</div>

<!--<div th:if="${virhe}">-->
<!--<p> Virhettä pukkaa</p>-->
<!--</div>-->

<div class="container">

    <form class="form-horizontal" th:action="@{/uusiviesti}" th:object="${lomake}" method="post">

        <div class="form-group">
            <label class="control-label col-sm-2" th:text="'Nimi:'" th:for="nimi"/>
            <div class="col-sm-10">
                <input class="form-control" th:field="*{kirjoittaja}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" th:text="'Viestisi:'" th:for="teksti"/>
            <div class="col-sm-10">
                <textarea class="form-control" th:field="*{teksti}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Lähetä</button>
            </div>
        </div>

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{keskusteluJohonViestiKuuluu.id}"/>

    </form>
</div>
</body>
</html>