<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head  th:include="fragments/otsake :: head">
    <meta charset="UTF-8"/>
    <title>Sanonnat</title>
</head>
<body>
<div th:replace="fragments/navi :: navbar"/>

<!--Tähän omat koodit-->

<div class="container">
    <h1 th:text="${aiheenNimi}" />

</div>


<div class="container">

    <div>
        <div th:each="keskustelu: ${keskustelulista}">
            <h3 th:text="${keskustelu.keskustelunotsikko}"></h3>
        </div>

    </div>

</div>
<!--Tähän omat koodit-->

</body>
</html>