<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/otsake :: head">
    <meta charset="UTF-8"/>
    <title>Sanonnat</title>
</head>
<body>
<div th:replace="fragments/navi :: navbar"/>

<!--Tähän omat koodit-->
<!--Tässä tehtäisiin uusi keskustelu-->

<div class="container">
    <h1>Ryhmä 3 foorumi</h1>
    <div>
        <p>Alla voit luoda uuden keskustelun!</p>
    </div>
</div>

<div class="container">

    <form class="form-horizontal" th:action="@{/uusikeskustelu}" th:object="${lomake}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" th:text="'Nimi:'" th:for="nimi"/>
            <div class="col-sm-10">
                <input class="form-control" th:field="*{aloitusviesti.kirjoittaja}"/></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" th:text="'Viestiketjun otsikko:'" th:for="otsikko"/>
            <div class="col-sm-10">
                <input class="form-control" th:field="*{keskustelunotsikko}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" th:text="'Viestisi:'" th:for="teksti"/>
            <div class="col-sm-10">
                <textarea class="form-control" th:field="*{aloitusviesti.teksti}"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Lähetä</button>
            </div>
        </div>

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{aihealueJohonKuuluu.aiheenNimi}"/>

    </form>

</div>
<!--Tähän omat koodit-->

</body>
</html>